SPLITWISE_CONSUMER_KEY=your_splitwise_consumer_key
SPLITWISE_CONSUMER_SECRET=your_splitwise_consumer_secret
SPLITWISE_API_KEY=
SPLITWISE_ACCESS_TOKEN=
SPLITWISE_ACCESS_TOKEN_SECRET=
SPLITWISE_ONLY_USERNAME=
SPLITWISE_ONLY_PASSWORD=
